
<div class="container-fluid m-5" *ngIf="product">
  <div class="row justify-content-center pb-3">
    <div class="col-11 row">

      <div class="col-lg-2">
        <div class="image-selector  p-2">
          <div *ngFor="let image of images;let i = index" class="images p-3">
            <img src='{{"https://asedasfinds.com/storage/images/" + image.image}}' (click)="changeSelectedImage(image.image)" class='img-fluid' alt="">
          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="product-image-holder">
          <div class="">
            <img src='{{"https://asedasfinds.com/storage/images/" + selectedImage}}' class='img-fluid' alt="">
          </div>

        </div>
      </div>

      <div class="col-lg-6">
        <div class="product-information ms-5">
          <div class="name">
            <span class="">{{product.name}}</span>
          </div>

          <div class="price">
            <ng-container *ngIf="discount; else elseTemplate">
              <span class="">{{(discount.active?product.price * (100- discount.discount_percent) *0.01 : product.price) |currency : 'GHC '}} </span>
            </ng-container>
            <ng-template #elseTemplate>
              <span class="">{{product.price}} </span>
            </ng-template>
          </div>

          <div class="description ">
            <div class="heading">
              <span class="">Description</span>
            </div>
           <div class="body">
             {{product.desc}}
           </div>
          </div>

          <div class="additional-details ">
            <div class="d-flex">

              <div class="size pe-3 pt-2">
                <select [(ngModel)]="selectedSize" name="" id="">
                  <option value="">Select a size</option>
                  <option *ngFor="let size of sizes" value="{{size.id}}">
                    {{size.name}}
                  </option>
                </select>
              </div>

              <span class="qty-selector pt-3 pe-3">
                <span class="icon" (click)="reduceQty()">
                  <i class="fas fa-minus"></i>
                </span>
                <span class="number">
                  {{quantity}}
                </span>
                <span class="icon" (click)="increaseQty()">
                  <i class="fas fa-plus"></i>
                </span>
              </span>

              <div class="product-button me-1">
                <button (click)="addToCart(product)" class="">Add to Cart</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- <div class="bottom-area">
    <div class="heading">
      <span class="">Things you might also like</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="suggested-product">

      </div>
    </div>
  </div> -->
</div>
