<!-- <div class="why-are-we-section pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-10">
        <div class="heading pt-5">
          <span class="">Why We Are</span>
        </div>

        <div class="body pb-5">
            <span class="">
              Though walking through racks of clothes is fun for some, it does get stressful looking for the perfect colour, size or style.
               This gets even worse for those who want absolutely nothing to do with clothing stores. Whether it’s limited time, no interest
               or proximity that hinders you from shopping in-person, AF is the best stop for you!
            </span>
        </div>
    </div>
  </div>
</div> -->


<div class="meet-aseda-section">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-7 col-sm-12">
      <div class="heading text-center">
        <span class="">
          MEET ASEDA
        </span>
      </div>

      <div class="body p-3 pb-5">
        <span class="p-1">
          Hi loves! I’m Aseda, owner of Aseda’s Finds first, and a digital marketing & operations professional second.
          I nurtured my love for business management at Ashesi University, where Aseda’s Finds was birthed.
           It’s worth mentioning that it’s you, my AF Queens, who made me more aware of style and fashion because until recently,
            I only liked shopping for clothes and admiring from afar. Now, I love to play dress up in my room and feel cute lol.
          When I’m not working on AF, catch me working my corporate job, in bed watching something funny, or fantasizing about all the trips I want to take”
        </span>
      </div>

      <div class="name text-center d-flex justify-content-end pt-5">
        <span class="">Awurama Aseda Atobrah</span>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12">
      <div class="img-cut-out border">
        <img src="assets/img/awurama.png" alt="" class="img-fluid">
      </div>

    </div>
  </div>
</div>

<div class="feature-section pt-5 pb-5">

  <div class="feature">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="feature-content">
          <div class="heading">
            Why
          </div>
          <div class="body">
            <span class="p-1">
              Though walking through racks of clothes is fun for some,
              it does get stressful looking for the perfect colour, size or style.
               This gets even worse for those who want absolutely nothing to do with clothing stores.
               Whether it’s limited time,
              no interest or proximity that hinders you from shopping in-person, AF is the best stop for you!
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="feature-image">
          <img src="assets/img/accessibility.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="feature ">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="feature-content">
          <div class="heading">
            What
          </div>
          <div class="body">
            <span class="">
              Aseda’s Finds is an online clothing shop for ladies’ clothes and other wardrobe pieces.
              AF prioritizes convenience, affordability, practicality,
               and fun to give you a stress-free shopping experience from the comfort of
                your home/office/seat.
               Indeed, there’s something for everyone and for every occasion.
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="feature-image">
          <img src="assets/img/kindness.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="feature  ">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="feature-content ">
          <div class="heading">
           How
          </div>
          <div class="body">
            <span class="p-1">
              With the clothing resale service and trusted local vendors,
               practical clothes are sourced with a careful selection process.
              When the clothes are uploaded to Instagram, Facebook, and this website,
              all the necessary information on each item is provided to make shopping easy.
              And then there’s the fun bit – we occasionally have engaging content to add some spice!
            </span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="feature-image">
          <img src="assets/img/medal.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

</div>
