<div class="asedas-services pt-5 pb-5">
  <div class="row justify-content-center">
    <div class="col-10">
        <div class="heading pt-5">
          <span class="">Aseda's Services</span>
        </div>

        <div class="body pb-5">
            <span class="">
              The Spirit exists within every sphere, body, and realm.
              That of the air, the earth, the water, the wind, all that is connected to create a singular, life changing moment.
              In this, The Spirit seeks to create a community which feels, breathes, The Spirit exists within every sphere, body, and realm.
              That of the air, the earth, the water, the wind, all that is connected to create a singular, life changing moment. In this, The Spirit seeks to create a community which feels, breathes,
              The Spirit exists within every sphere, body, and realm.
             That of the air, the earth, the water, the wind, all that is connected to create a singular, life changing moment. In this, The Spirit seeks to create a community which feels, breathes,
            </span>
        </div>
    </div>
  </div>
</div>




<div class="feature-section pt-5 pb-5">

  <div class="feature p-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-12">
        <div class="feature-content text-center">
          <div class="heading">
            CLOTHING RESALE
          </div>
          <div class="body">
            <span class="">

            </span>
          </div>
        </div>
        <div class="feature-image mt-1">
          <iframe class="" src="https://www.youtube.com/embed/FnXGsZMpXEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="feature p-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-12">
        <div class="feature-content text-center">
          <div class="heading">
            GIFT BOXES
          </div>
          <div class="body">
            <span class="">

            </span>
          </div>
        </div>
        <div class="feature-image mt-1">
          <iframe class="" src="https://www.youtube.com/embed/FnXGsZMpXEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>


  <div class="feature p-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-12">
        <div class="feature-content text-center">
          <div class="heading">
            GIFT VOUCHERS
          </div>
          <div class="body">
            <span class="">

            </span>
          </div>
        </div>
        <div class="feature-image mt-1">
          <iframe class="" src="https://www.youtube.com/embed/FnXGsZMpXEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="feature p-5">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-sm-12">
        <div class="feature-content text-center">
          <div class="heading">
           PERSONAL SHOPPING REQUESTS
          </div>
          <div class="body">
            <span class="">

            </span>
          </div>
        </div>
        <div class="feature-image mt-1">
          <iframe class="" src="https://www.youtube.com/embed/FnXGsZMpXEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
