<div class="landing-img">
  <div class="d-flex justify-content-center">

    <div class="landing-text text-center p-3 ">
      <span class=" pt-5 header-text text-white">
        SHOPPING FOR LADIES CLOTHES MADE EASY FUN AND AFFORDABLE
      </span>
    </div>
  </div>

  <div class="landing-img-button mt-5 pb-5 pt-5 d-flex justify-content-center">
    <button type="button" [routerLink]="['/shop']" class="">
      Shop Now
    </button>
  </div>
</div>



<app-custom-carousel></app-custom-carousel>

<div class="asedas-angels mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-10 text-center">
      <p class="heading">AF Queens</p>
      <p class="subtext">#AFQueens </p>
    </div>
  </div>

  <div class="mt-5 mb-5 row justify-content-lg-center">
    <div class="col-lg-10 row g-0">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="p-1 d-flex justify-content-center">
          <img src="assets/img/angel-1.JPG" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="p-1 d-flex justify-content-center">
          <img src="assets/img/angel-2.JPG" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="p-1 d-flex justify-content-center">
          <img src="assets/img/angel-3.JPG" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-5 row justify-content-center meet-aseda-section">
  <div class="col-lg-5 col-sm-12">

    <div class="meet-aseda-picture">

      <span class="background">
        <img src="assets/img/awurama-2.png" alt="" class="img-fluid">

      </span>
    </div>
  </div>
  <div class="col-lg-5 col-sm-12">
    <div class="meet-aseda-text">
      <div class="heading text-center mb-4">
        <span class="">Meet Aseda</span>
      </div>


      <div class="body">
        <span class="">
          Hi loves! I’m Aseda, owner of Aseda’s Finds first, and a digital marketing & operations professional second.
           I nurtured my love for business management at Ashesi University, where Aseda’s Finds was birthed.
           It’s worth mentioning that it’s you, my AF Queens, who made me more aware of style and fashion because until recently,
            I only liked shopping for clothes and admiring from afar. Now, I love to play dress up in my room and feel cute lol.
            When I’m not working on AF, catch me working my corporate job, in bed watching something funny,
             or fantasizing about all the trips I want to take <i class="far fa-smile-wink"></i>
        </span>

      </div>

      <div class="name m-5">
        <p class="text-center">Awurama Aseda Atobrah</p>
      </div>

      <div class="about-page-link d-flex justify-content-end">
        <span class="view-more" [routerLink]="['/about']" >
          <a class="">View More
            <span class="ps-3">
              <i class="far fa-arrow-alt-circle-right"></i>
            </span>
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 justify-content-center subscribe-section">
  <div class="col-lg-8 col-sm-12">
    <div class="body d-flex justify-content-center flex-column">
      <p class="text-center heading">Like What You See</p>
      <p class="text-center subheading">Sign up and get the latest news on all our activities</p>
      <div class="d-flex justify-content-center ">
        <span class="subscribe-input d-flex justify-content-between border">
          <input type="text" placeholder="Enter your email here">
          <button class="subscribe-button">Subscribe</button>
        </span>

      </div>
    </div>

  </div>
</div>

