.landing-img{
  background: url('../../../assets/img/bg_1.png');
  min-height: 550px;

.landing-text{
  font-family: 'Raleway', serif;
  font-size: 50px;
  font-weight: bold;
  width:75%;
}

  .landing-img-button{
    button{
      border:2px solid white;
      background-color: transparent;
      color:white;
      border-radius: 8px;
      font-size: 1.4rem;
      padding:1rem 2rem;
      &:hover{
        color:black;
        background-color: white;
      }
    }
  }
}




.asedas-angels{
  padding-top: 7rem;
  padding-bottom: 7rem;
  p{
    font-size: 3rem;
    margin-bottom: 0;
    line-height: 2.7rem;
  }
  .heading{
    font-weight: 500;
  }
  .subtext{
    font-weight: 100;
  }
  img{
    max-height: 450px;
  }
}
.meet-aseda-section{
  padding-top: 7rem;
  padding-bottom:7rem;
}
.meet-aseda-text{
  .heading{
    font-size: 4.5rem;
    font-weight: 600;
  }
  .body{
    font-size: 1.2rem;
    color: var(--bs-primary);

  }

  .name{
    font-size:2.5rem;
    font-weight: 600;
  }

  .about-page-link{
    font-size: 2rem;
  }
}

.meet-aseda-picture{

  .background{
    background-color: var(--bs-primary);
    img{
      max-height: 460px;
    }
  }
}

.subscribe-section
{

  border-top: 1px solid var(--bs-info);

  .body{
    padding-top: 7rem;
    padding-bottom: 7rem;
    .heading{
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .subheading{
      font-size: 2.0rem;
      font-weight: 300;
    }
    .subscribe-input{

      border-radius: 4px;
      padding-left: 16px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      min-width: 90%;
      input{
        font-size: 1.5rem;

      }
      .subscribe-button{
        border-radius: 8px;
        border:0;
        font-size: 1.5rem;
        font-weight: 600;
        color:white;
        background-color: black;
        padding: 20px 10px;

      }

    }

  }

}

.view-more{
  &:hover{
    cursor: pointer;
    color: var(--bs-primary);
  }
}

@media only screen and  (max-device-width: 480px) {
  .landing-img{
    min-height: 350px;

  .landing-text{
    font-size: 30px;
  }
    .landing-img-button{
      button{
        font-size: 1rem;
        padding:0.5rem 1rem;
      }
    }
  }

  .asedas-angels{
    p{
      font-size: 1.5rem;
      margin-bottom: 0;
      line-height: 1.5rem;
    }
    img{
      max-height: 450px;
    }
  }

  .subscribe-section
{
  .body{
    .heading{
      font-size: 1.5rem;
    }
    .subheading{
      font-size: 1.2rem;
    }
    .subscribe-input{
      input{
        font-size: 1rem;

      }
      .subscribe-button{
        font-size: 1rem;
        padding: 10px 5px;

      }

    }

  }

}
}
