<div class="container">
  <div class="row bg-white">
    <div class="col-lg-12">

      <div class="add-products-button p-5">
        <button
        class="btn btn-primary"
        (click)="openAddModal()"
        >
          ADD PRODUCT
        </button>
      </div>



      <div class="row justify-content-center mt-5">
        <div class="col-lg-9">
          <div *ngIf="message" [@fadeInOnEnter] [@fadeOutOnLeave]  id="message">
            <div class="alert alert-success">
              {{message}}
            </div>
          </div>


          <div class="page-heading">
            <p class="fs-2 fw-bold text-center">ALL PRODUCTS</p>
          </div>

          <table class="mt-5 mb-5 table table-striped table-hover text-primary">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity Left</th>
                <th scope="col">Price </th>
                <th scope="col">Discount</th>
                <th scope='col'>Status</th>
                <th scope="col"></th>
              </tr>
          </thead>

          <tbody>
            <tr *ngFor="let product of products">
              <th scope='row'>{{product.id}}</th>
              <td>{{product.name}} </td>
              <td>{{product.desc |shorten : 10}} </td>
              <td>{{product.qty_left}} </td>
              <td>{{product.price | currency:'GH₵ '}} </td>
              <ng-container *ngIf="product.discount; else elseTemplate">
                <td
                [ngClass]="{'text-success':product.discount.active===1, 'text-danger':product.discount.active === 0}" >
                  {{product.discount.discount_percent + '%'}}
                  {{product.discount.active===1?'(Active)':'(Disabled)'}}
                </td>
              </ng-container>
              <ng-template #elseTemplate>
                <td>
                  ---
                </td>
              </ng-template>

              <td
              [ngClass]="{'text-success':product.active===1, 'text-danger':product.active === 0}"
              >
                {{product.active===1?'Active':'Disabled'}}
              </td>
              <td>
                <span class="">
                  <button class="btn btn-success text-white" (click)="edit(product)">
                    Edit
                  </button>
                </span>

                <span class="ps-3">
                  <button class="btn btn-danger" (click)="delete(product)">
                    Delete
                  </button>
                </span>
              </td>

            </tr>
          </tbody>

          </table>


        </div>
      </div>

    </div>
  </div>
</div>


<app-create-edit-product (messageEmitter)='receiveMessage($event)' [product]='selectedProduct'></app-create-edit-product>


<app-delete-product [product]='deleteProduct'  ></app-delete-product>




